<a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
   aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-cog"></i>
</a>

<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/add-to-station/?<%= `station=${encodeURIComponent(device.station)}&company=${encodeURIComponent(device.company)}` %>">Add more devices to station</a>
    <a class="dropdown-item" href="/edit/?mode=serial&number=<%= device.serial %>">Edit device</a>
    <a class="dropdown-item" href="/edit/?mode=station&<%= `station=${encodeURIComponent(device.station)}&company=${encodeURIComponent(device.company)}` %>">Edit station</a>
    <% if (lead || admin) { %>
        <a class="dropdown-item" href="/delete-device/<%= device.serial %>">Delete device</a>
    <% } %>
    <a class="dropdown-item">By whom and when added: <br> <%= device.whoadded %>
        , <%= device.whenadded %> </a>
</div>