<%- include('partials/header') %>
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-check fa-6x"></i>
    <h1 class="display-4">Следующие устройства успешно добавлены:</h1>
    <hr>
    <table class="table table-bordered mt-5"
           data-toggle="table"
           data-sort-name="serial"
           data-sort-order="asc">

      <thead class="thead-dark">
      <tr>
        <th scope="col" class="align-middle" data-sortable="true">Тип</th>
        <th scope="col" class="align-middle" data-sortable="true" data-field="serial">Серийный №</th>
        <th scope="col" class="align-middle">Ключ</th>
      </tr>
      </thead>

      <tbody>
      <% devices.forEach((device) => { %>
        <tr>
          <td scope="row" class="align-middle"><%= device.type.name %></td>
          <td scope="row" class="align-middle"><%= device.serial %></td>
          <td class="align-middle"><%= device.hash %></td>
        </tr>
      <% }) %>
      </tbody>

    </table>

    <a class="btn btn-light btn-lg" href="/devices" role="button">Вернуться в личный кабинет</a>
  </div>
</div>

<%- include('partials/footer') %>
