<%- include('partials/header') %>

<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.17.1/locale/bootstrap-table-ru-RU.min.js"></script>

<p class="m-4 float-right">Welcome, <%= greet %></p>
<div class="row">
    <a class="btn btn-outline-dark btn-lg m-2" href="/logout" role="button">Logout</a>
    <a class="btn btn-outline-dark btn-lg m-2" href="/" role="button">Main page</a>
</div>
<div class="jumbotron text-center py-0 mb-0 mt-3">

        <% if (admin) { %>
            <i class="fas fa-user-plus fa-6x"></i>
            <h2 class="my-2">Create device, device type or user</h2>
            <hr>

            <%- include('partials/adminControls') %>

        <% } else { %>
            <i class="fas fa-network-wired fa-6x"></i>
            <h1 class="display-4">Device list</h1>
            <hr>

            <%- include('partials/basicControls') %>
        <% } %>

        <hr>
<div>
    <h4>Current type: <%= currBase.name %></h4>
    <div class="btn-group dropright mx-auto">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select type
        </button>
        <div class="dropdown-menu">
            <% typeBases.forEach((base) => { %>
                <a class="dropdown-item" href="/devices/<%= base.name %>"><%= base.name %></a>
            <% }) %>
        </div>
    </div>
</div>

</div>


    <table id="device-table" class="table table-hover text-center table-bordered bg-light"
           data-toggle="table"
           data-search="true"
           data-show-columns="true"
           data-pagination="true"
           data-sort-name="serial"
           data-sort-order="asc"
           data-locale="en-EN">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="align-middle"><i class="fas fa-cog"></i></th>
            <th scope="col" class="align-middle" data-sortable="true" data-field="serial">Serial<br>№</th>
            <th scope="col" class="align-middle">Date</th>
            <% if (currBase.hashcalc !== 'none') { %>
                <th scope="col" class="align-middle">Key</th>
            <% } %>
            <% currBase.props.forEach(prop => { %>
                <th scope="col" class="align-middle"><%= prop.propname %></th>
            <% }) %>
            <th scope="col" class="align-middle">Company</th>
            <th scope="col" class="align-middle">Station</th>
            <th scope="col" class="align-middle">Contact person
                <br>Email
                <br>Tel
            </th>
            <th scope="col" class="align-middle">Contact person 2
                <br>Email
                <br>Tel
            </th>
            <th scope="col" class="align-middle">Location</th>
            <th scope="col" class="align-middle">Comment</th>
        </tr>
        </thead>

        <tbody>
        <% devices.forEach(device => { %>
            <tr>
                <td>
                    <%- include('partials/deviceSettings', { device, lead, admin }) %>
                </td>

                <td scope="row" class="align-middle"><%= device.serial %></td>

                <td class="align-middle"><%= device.year %><br><%= months[device.month - 1] %></td>
                <% if (currBase.hashcalc !== 'none') { %>
                    <td class="align-middle"><%= device.hash.toString().padStart(5, '0') %></td>
                <% } %>
                <% device.type.props.forEach(prop => { %>
                    <th scope="col" class="align-middle"><%= prop.propvalue %></th>
                <% }) %>
                <td class="align-middle"><%= device.company %></td>

                <td class="align-middle"><%= device.station %></td>

                <td class="align-middle"><%= device.person %>
                    <br> <%= device.email %>
                    <br> <%= device.phone %></td>

                <td class="align-middle"><%= device.person2 %>
                    <br> <%= device.email2 %>
                    <br> <%= device.phone2 %></td>

                <td class="align-middle"><%= device.city %></td>

                <td class="align-middle"><%= device.comment %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <hr>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=%YANDEX_API_KEY%"
        type="text/javascript"></script>
<script src="scripts/devices.js" type="text/javascript" defer></script>
<script src="scripts/provider.js" type="text/javascript" defer></script>

<%- include('partials/footer') %>
