<%- include('partials/header') %>

<a class="btn btn-outline-dark btn-lg m-2" href="/devices" role="button">Back to console</a>
<div class="container">
<div class="jumbotron text-center">
        <i class="fas fa-edit fa-6x"></i>
        <h1 class="display-4">Devices of <%= deviceArr.length > 1 ? deviceArr[0].station : null %> will be edited:</h1>
        <hr>

    <%- include('partials/shortenedTable', { devices: deviceArr }) %>

    </div>

    <form action="/edit" method="POST" id="edit-device-form">

        <div class="form-row">
            <div class="col-md-4">
                <label for="person">Contact person</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                    </div>
                    <input type="text" required name="person" class="form-control" id="person" value="<%= deviceArr[0].person %>">
                </div>
            </div>
            <div class="col-md-4">
                <label for="phone">Tel</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-phone"></i></div>
                    </div>
                    <input type="tel" required name="phone" class="form-control" id="phone" value="<%= deviceArr[0].phone %>">
                </div>
            </div>
            <div class="col-md-4">
                <label for="email">E-mail</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                    </div>
                    <input type="email" required name="email" class="form-control" id="email" value="<%= deviceArr[0].email %>">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label for="person2">Contact person 2</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-user"></i></div>
                    </div>
                    <input type="text" required name="person2" class="form-control" id="person2" value="<%= deviceArr[0].person2 %>">
                </div>
            </div>
            <div class="col-md-4">
                <label for="phone2">Tel 2</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-phone"></i></div>
                    </div>
                    <input type="tel" name="phone2" class="form-control" id="phone2" value="<%= deviceArr[0].phone2 %>">
                </div>
            </div>
            <div class="col-md-4">
                <label for="email2">E-mail 2</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                    </div>
                    <input type="email" name="email2" class="form-control" id="email2" value="<%= deviceArr[0].email2 %>">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="comment">Comment:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-comment"></i></div>
                    </div>
                    <textarea class="form-control" rows="3" name="comment" id="comment"><%= deviceArr[0].comment %></textarea>
                </div>
            </div>
        </div>

        <% if (isStation) { %>
            <input type="hidden" id="station" name="station" value="<%= deviceArr[0].station %>">
            <input type="hidden" id="company" name="company" value="<%= deviceArr[0].company %>">
        <% } else { %>
            <input type="hidden" id="serial" name="serial" value="<%= deviceArr[0].serial %>">
        <% } %>

        <div class="row mb-5">
                <button type="submit" class="btn btn-dark btn-lg m-2">Edit</button>
        </div>

    </form>
</div>


<%- include('partials/footer') %>
