<%- include('partials/header') %>

<a class="btn btn-outline-dark btn-lg m-2" href="/devices" role="button">Назад</a>

<div class="container">
    <div class="jumbotron text-center my-0 py-3">
        <i class="fa fa-plus-circle fa-6x"></i>
        <h1 class="display-4 mb-3">Добавьте устройство</h1>
        <h4>Заполните все поля, чтобы добавить устройство и получить код активации</h4>
    </div>

    <form action="/submit" method="POST" id="add-device-form">
        <div id="devices">
            <div class="card" id="device-1">
                <h5 class="card-header">Устройство 1</h5>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-4" id="typeSelector-1">
                        </div>
                        <div class="col-md-4">
                            <label for="serial-1">Серийный номер</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-list-ol"></i></div>
                                </div>
                                <input type="number" disabled required name="serial-1" class="form-control" placeholder="25"
                                       id="serial-1">
                                <div class="valid-feedback">
                                    Серийный номер свободен!
                                </div>
                                <div class="invalid-feedback">
                                    Серийный номер уже существует!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="date">Дата производства</label>
                            <div class="input-group mb-3">
                                <input type="month" required name="date-1" class="form-control" placeholder="июнь 2020"
                                       id="date">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-6 text-center mt-2">
                <button type="button" class="btn btn-dark btn-lg" id="addMoreDevices">Прикрепить ещё устройство</button>
            </div>
            <div class="col-md-6 text-center mt-2">
                <button type="button" class="btn btn-danger btn-lg" id="deleteDevices">Удалить устройство</button>
            </div>
        </div>

        <% if (toNewStation) { %>

            <div class="form-row">
                <div class="col-md-6">
                    <label for="company">Компания</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-briefcase"></i></div>
                        </div>
                        <input type="text" required name="company" class="form-control" placeholder="ФСК ЕЭС"
                               id="company">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="station">Объект</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-bolt"></i></div>
                        </div>
                        <input type="text" required name="station" class="form-control" id="station"
                               placeholder="ПС Электродная">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label for="country">Страна</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-globe"></i></div>
                        </div>
                        <input type="text" required name="country" class="form-control" id="country"
                               placeholder="Россия">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="city">Город</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-map-marker"></i></div>
                        </div>
                        <input type="text" required name="city" class="form-control" id="city" placeholder="Пермь">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <label for="person">ФИО ответственного</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                        </div>
                        <input type="text" required name="person" class="form-control" id="person"
                               placeholder="Сидоров Геннадий Альбертович">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="phone">Телефон ответственного</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-phone"></i></div>
                        </div>
                        <input type="tel" required name="phone" class="form-control" id="phone"
                               placeholder="8 800 555 35 35">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="email">E-mail ответственного</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                        </div>
                        <input type="email" required name="email" class="form-control" id="email"
                               placeholder="pochta@pochta.ru">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <label for="person2">ФИО доп. ответственного</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                        </div>
                        <input type="text" name="person2" class="form-control" id="person2"
                               placeholder="Иванов Иван Иванович">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="phone2">Телефон доп. ответственного</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-phone"></i></div>
                        </div>
                        <input type="tel" name="phone2" class="form-control" id="phone2" placeholder="8 948 151 62 34">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="email2">E-mail доп. ответственного</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                        </div>
                        <input type="email" name="email2" class="form-control" id="email2"
                               placeholder="another@pochta.ru">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="comment">Комментарий:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-comment"></i></div>
                        </div>
                        <textarea class="form-control" rows="3" name="comment" id="comment"></textarea>
                    </div>
                </div>
            </div>

            <input type="hidden" id="coords" name="coords" value="">

        <% } else { %>
            <h4>Устройства будут добавлены к следующему объекту:</h4>
            <hr>
            <table id="device-table" class="table table-responsive-lg table-hover table-bordered text-center mt-2">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="align-middle">Компания</th>
                    <th scope="col" class="align-middle">Объект</th>
                    <th scope="col" class="align-middle">ФИО ответственного
                        <br>Email
                        <br>Телефон
                    </th>
                    <th scope="col" class="align-middle">ФИО доп. ответственного
                        <br>Email
                        <br>Телефон
                    </th>
                    <th scope="col" class="align-middle">Местоположение</th>
                    <th scope="col" class="align-middle">Комментарий</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle"><%= station.company %></td>
                    <td class="align-middle"><%= station.station %></td>
                    <td class="align-middle"><%= station.person %>
                        <br> <%= station.email %>
                        <br> <%= station.phone %></td>
                    <td class="align-middle"><%= station.person2 %>
                        <br> <%= station.email2 %>
                        <br> <%= station.phone2 %></td>
                    <td class="align-middle"><%= station.city %></td>
                    <td class="align-middle"><%= station.comment %></td>
                </tr>
                </tbody>
            </table>
            <!--Duplicating all station data to new devices-->
            <input type="hidden" name="company" id="company" value="<%= station.company %>">
            <input type="hidden" name="station" id="station" value="<%= station.station %>">
            <input type="hidden" name="person" id="person" value="<%= station.person %>">
            <input type="hidden" name="email" id="email" value="<%= station.email %>">
            <input type="hidden" name="phone" id="phone" value="<%= station.phone %>">
            <input type="hidden" name="person2" id="person2" value="<%= station.person2 %>">
            <input type="hidden" name="email2" id="email2" value="<%= station.email2 %>">
            <input type="hidden" name="phone2" id="phone2" value="<%= station.phone2 %>">
            <input type="hidden" name="city" id="city" value="<%= station.city %>">
            <input type="hidden" name="country" id="country" value="<%= station.country %>">
            <input type="hidden" name="comment" id="comment" value="<%= station.comment %>">
            <input type="hidden" name="coords" id="coords" value="<%= station.coords %>">

        <% } %>

        <div class="row mb-5">
            <button type="submit" class="btn btn-dark btn-lg">Добавить</button>
        </div>

    </form>
</div>

<script src="/static/scripts/submit.js" defer></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=ecf1da0d-157d-4bc1-b947-ba8cc775e35a"
        type="text/javascript"></script>

<%- include('partials/footer') %>
