<%- include('partials/header') %>

<a class="btn btn-outline-dark btn-lg m-2" href="/devices" role="button">Back to console</a>

<div class="container">
    <div class="jumbotron text-center my-0 py-3">
        <i class="fa fa-plus-circle fa-6x"></i>
        <h1 class="display-4 mb-3">Add device</h1>
        <h4>Fill inputs below to register new device</h4>
    </div>

    <form action="/submit" method="POST" id="add-device-form">
        <div id="devices">
            <div class="card" id="device-1">
                <h5 class="card-header">Device 1</h5>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-4" id="typeSelector-1">
                        </div>
                        <div class="col-md-4">
                            <label for="serial-1">Serial №</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-list-ol"></i></div>
                                </div>
                                <input type="number" disabled required name="serial-1" class="form-control" placeholder="25"
                                       id="serial-1">
                                <div class="valid-feedback">
                                    Serial № available!
                                </div>
                                <div class="invalid-feedback">
                                    Serial № already exists!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="date">Manufacturing date</label>
                            <div class="input-group mb-3">
                                <input type="month" required name="date-1" class="form-control" id="date">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-6 text-center mt-2">
                <button type="button" class="btn btn-dark btn-lg" id="addMoreDevices">Attach another device</button>
            </div>
            <div class="col-md-6 text-center mt-2">
                <button type="button" class="btn btn-danger btn-lg" id="deleteDevices">Detach device</button>
            </div>
        </div>

        <% if (toNewStation) { %>

            <div class="form-row">
                <div class="col-md-6">
                    <label for="company">Company</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-briefcase"></i></div>
                        </div>
                        <input type="text" required name="company" class="form-control" placeholder="Electrical company"
                               id="company">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="station">Station</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-bolt"></i></div>
                        </div>
                        <input type="text" required name="station" class="form-control" id="station"
                               placeholder="Northern substation">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label for="country">Country</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-globe"></i></div>
                        </div>
                        <input type="text" required name="country" class="form-control" id="country"
                               placeholder="Russia">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="city">City</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-map-marker"></i></div>
                        </div>
                        <input type="text" required name="city" class="form-control" id="city" placeholder="Moscow">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <label for="person">Contact person</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                        </div>
                        <input type="text" required name="person" class="form-control" id="person"
                               placeholder="John Doe Johnson">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="phone">Tel</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-phone"></i></div>
                        </div>
                        <input type="tel" required name="phone" class="form-control" id="phone"
                               placeholder="8 111 111 11 11">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="email">E-mail</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                        </div>
                        <input type="email" required name="email" class="form-control" id="email"
                               placeholder="test@test.ru">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <label for="person2">Contact person 2</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                        </div>
                        <input type="text" name="person2" class="form-control" id="person2"
                               placeholder="Jane Smith Swanson">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="phone2">Tel</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-phone"></i></div>
                        </div>
                        <input type="tel" name="phone2" class="form-control" id="phone2" placeholder="8 222 222 22 22">
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="email2">E-mail</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                        </div>
                        <input type="email" name="email2" class="form-control" id="email2"
                               placeholder="another@test.ru">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="comment">Comment:</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-comment"></i></div>
                        </div>
                        <textarea class="form-control" rows="3" name="comment" id="comment"></textarea>
                    </div>
                </div>
            </div>

            <input type="hidden" id="coords" name="coords" value="">

        <% } else { %>
            <h4>Devices will be added to station:</h4>
            <hr>
            <table id="device-table" class="table table-responsive-lg table-hover table-bordered text-center mt-2">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="align-middle">Company</th>
                    <th scope="col" class="align-middle">Station</th>
                    <th scope="col" class="align-middle">Contact person
                        <br>Email
                        <br>Tel
                    </th>
                    <th scope="col" class="align-middle">Contact person 2
                        <br>Email
                        <br>Tel
                    </th>
                    <th scope="col" class="align-middle">Location</th>
                    <th scope="col" class="align-middle">Comment</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="align-middle"><%= station.company %></td>
                    <td class="align-middle"><%= station.station %></td>
                    <td class="align-middle"><%= station.person %>
                        <br> <%= station.email %>
                        <br> <%= station.phone %></td>
                    <td class="align-middle"><%= station.person2 %>
                        <br> <%= station.email2 %>
                        <br> <%= station.phone2 %></td>
                    <td class="align-middle"><%= station.city %></td>
                    <td class="align-middle"><%= station.comment %></td>
                </tr>
                </tbody>
            </table>
            <!--Duplicating all station data to new devices-->
            <input type="hidden" name="company" id="company" value="<%= station.company %>">
            <input type="hidden" name="station" id="station" value="<%= station.station %>">
            <input type="hidden" name="person" id="person" value="<%= station.person %>">
            <input type="hidden" name="email" id="email" value="<%= station.email %>">
            <input type="hidden" name="phone" id="phone" value="<%= station.phone %>">
            <input type="hidden" name="person2" id="person2" value="<%= station.person2 %>">
            <input type="hidden" name="email2" id="email2" value="<%= station.email2 %>">
            <input type="hidden" name="phone2" id="phone2" value="<%= station.phone2 %>">
            <input type="hidden" name="city" id="city" value="<%= station.city %>">
            <input type="hidden" name="country" id="country" value="<%= station.country %>">
            <input type="hidden" name="comment" id="comment" value="<%= station.comment %>">
            <input type="hidden" name="coords" id="coords" value="<%= station.coords %>">

        <% } %>

        <div class="row mb-5">
            <button type="submit" class="btn btn-dark btn-lg">Create devices</button>
        </div>

    </form>
</div>

<script src="/static/scripts/submit.js" defer></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=%YANDEX_API_KEY%"
        type="text/javascript"></script>

<%- include('partials/footer') %>
